@import "bourbon";

// ===================================
// Colors
// ===================================

$white:   #F6F6F6;
$orange:     #EB7B59;
$teal:    #80BCA3;
$gray:    #444;

// ===================================
// Base styles
// ===================================

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $teal;
  background-attachment: fixed;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: $white;
  font-family: "Montserrat", Arial, sans-serif;
  padding: 100px 0;
  text-align: center;
}

h1 {
  -webkit-animation: slidein 1s;
  -moz-animation: slidein 1s;
  animation: slidein 1s;
  font-size: 30px;
  margin-bottom: 40px;
  padding: 0;
}

a {
  color: $teal;
  text-decoration: none;
  &:hover {
    border-bottom: 2px solid $orange;
    color: $orange;
  }
}

.timer {
  font-size: 64px;
  margin-bottom: 40px;
}

.control-panel {
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  animation: fadein 1s;
  background: rgba(0,0,0,0.5);
  margin: 0 auto;
  min-width: 250px;
  max-width: 500px;
  padding: 40px 20px;
}

button {
  background: $teal;
  border: none;
  box-shadow: none;
  color: $gray;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 24px;
  padding: 15px 20px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  &:hover {
    background: $orange;
    cursor: pointer;
  }
  &:active {
    background: darken($orange, 20%);
  }
  &:active,
  &:focus {
    outline: none;
  }
}

footer {
  background: rgba(0,0,0,0.5);
  display: block;
  padding: 20px;
  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  width: 100%;
}

.credits {
  font-size: 16px;
}

.hour, .minute {
  &::after {
    content: ":";
  }
}


// ===================================
//  Animation
// ===================================

// Fade
// =============================
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// Slide
// =============================
@keyframes slidein {
  from { margin-top: -100px; }
  to   { margin-top: 0; }
}
@-moz-keyframes slidein {
  from { margin-top: -100px; }
  to   { margin-top: 0; }
}
@-webkit-keyframes slidein {
  from { margin-top: -100px; }
  to   { margin-top: 0; }
}
